/* css/style.css */
body {
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
}

.playerGridCell, .titleCell {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: white;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: rgb(62, 62, 62);
    height: 100px;
}

.titleCell {
    /* font-family:'Times New Roman', Times, serif; */
    background-color: rgb(154, 4, 4);
}

.completedCard {
    background-color: rgb(254, 86, 86);
}

.cardNumRange {
    font-size: 2rem;
}

#displayBoard {
    font-size: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    margin: 1em;
}

.cardContent{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-auto-rows: 4rem;
    max-width: 500px;
}

.cardContents {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    max-width: 500px;
}

.playerCard {
    text-align: center;
    justify-content: center;
    align-items: center;

}

#reset {
    height: 1rem;
    background-color: rgb(0, 71, 5);
    color: rgb(255, 255, 255);
}

#slot13 {
    font-size: 1.2rem;
    color: rgb(223, 0, 0);
}

#displayNum {
    font-size: 10em;
    width: 200px;
    height: 200px;
}

#currentNum {
    margin: 0 auto;
}
