/* css/style.css */
* {
    color: rgb(180, 180, 180);
}

body {
    background-color: rgb(64, 64, 64);
    color: rgb(107, 107, 107);
}

.playerGridCell, .titleCell {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 62, 62);
    width: 100px;
    height: 100px;
}

/* .checkedGridCell {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    background-color: rgb(98, 0, 0);
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 62, 62);
    width: 100px;
    height: 100px;
} */

.titleCell {
    background-color: rgb(154, 4, 4);
}

.gameOver {
    max-width: 400px;
    font-size: 2em !important;
    animation: game 5s infinite;
    animation-delay: 10s;
}

@keyframes game {
    50% {background-color: rgb(255, 0, 0);}
    100% {transform: rotate(360deg);}
  }

.cardNumRange {
    font-size: 2rem;
}

.red {
   background-color: red;
   font-size: 2rem;
}

.playerCard {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-width: 340px;
    max-width: 500px;
    margin: 1em;
}

.free {
    font-size: 2rem;
    color: rgb(223, 0, 0);
}

#cards {
    text-align: center;
}

#displayBoard {
    font-size: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    margin: 1em;
}

#displayboard, #displayNum, .cardNumRange {
    background-color: rgb(37, 37, 37);
}

#displayNum {
    font-size: 10em;
    width: 200px;
    height: 200px;
}

#currentNum {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
}

